<?xml version="1.0" encoding="utf-8" ?>

<!-- This XML is used to map plugins in this assembly for the Core -->
<plugin name="Default Plugins" description="The default plugins included with Streamline">
  
  <!-- Streams are the raw IO ports, such as a websocket or Bluetooth -->
  <stream name="Audio Output" class="SeniorDesign.Plugins.Connections.AudioDataStream"/>
  <stream name="Audio File" class="SeniorDesign.Plugins.Connections.AudioFileStream"/>
  <stream name="Microphone" class="SeniorDesign.Plugins.Connections.MicrophoneStream"/>
  <stream name="Random Data" class="SeniorDesign.Plugins.Connections.RandomDataStream"/>
  <stream name="Constant Data" class="SeniorDesign.Plugins.Connections.ConstantDataStream"/>
  <stream name="Console Data" class="SeniorDesign.Plugins.Connections.ConsoleDataStream"/>
  <stream name="Serial COM Port" class="SeniorDesign.Plugins.Connections.SerialCOMStream"/>
  <stream name="CSV File Writer" class="SeniorDesign.Plugins.Connections.CSVFileWriterStream"/>
  <stream name="CSV File Reader" class="SeniorDesign.Plugins.Connections.CSVFileReaderStream"/>

  <!-- Pollers decide when data is requested from streams -->
  <poller name="Periodic" class="SeniorDesign.Plugins.Connections.Pollers.PeriodicPoller"/>
  <poller name="Tick" class="SeniorDesign.Plugins.Connections.Pollers.TickPoller"/>
  
  <!-- Converters change the raw bytes from a stream into data -->
  <converter name="Simple Stream" class="SeniorDesign.Plugins.Connections.Converters.SimpleStreamConverter"/>
  <converter name="Simple String" class="SeniorDesign.Plugins.Connections.Converters.SimpleStringConverter"/>
  
  <!-- Filters are objects that process data streams -->
  <filter name="Additive" class="SeniorDesign.Plugins.Filters.AdditionFilter"/>
  <filter name="Gain" class="SeniorDesign.Plugins.Filters.GainFilter"/>
  <filter name="Delay" class="SeniorDesign.Plugins.Filters.DelayFilter"/>
  <filter name="Quantizer" class="SeniorDesign.Plugins.Filters.QuantizerFilter"/>
  <filter name="Rolling Average" class="SeniorDesign.Plugins.Filters.RollingAverageFilter"/>
  <filter name="Differentiator" class="SeniorDesign.Plugins.Filters.DifferentiatorFilter"/>
  <filter name="Integrator" class="SeniorDesign.Plugins.Filters.IntegratorFilter"/>
  <filter name="Low-Pass" class="SeniorDesign.Plugins.Filters.LowPassFilter"/>
  <filter name="High-Pass" class="SeniorDesign.Plugins.Filters.HighPassFilter"/>
  <filter name="Stop-Band" class="SeniorDesign.Plugins.Filters.StopBandFilter"/>
  <filter name="Simpson's Integrator" class="SeniorDesign.Plugins.Filters.SimpsonsIntegratorFilter"/>
  <filter name="Butterworth 1st Order High Pass" class="SeniorDesign.Plugins.Filters.ButterworthHighPassFilter1"/>
  <filter name="Butterworth 2nd Order High Pass" class="SeniorDesign.Plugins.Filters.ButterworthHighPassFilter2"/>
  <filter name="Butterworth 1st Order Low Pass" class="SeniorDesign.Plugins.Filters.ButterworthLowPassFilter1"/>
  <filter name="Butterworth 2nd Order Low Pass" class="SeniorDesign.Plugins.Filters.ButterworthLowPassFilter2"/>
  
</plugin>
